version: 2
jobs:  
  build:  
    docker:  
      - image: circleci/node:lts
    steps: 
      - checkout
      - run: 
          name: Build
          command: npm install
      - run:
          name: Run Unit Tests
          command: npm run test
      - run:
          name: Deploy
          command: echo "deploy to host"
      - run:
          name: Run Functional Tests
          command: echo "functional tests"   